{% extends "admin/layout.njk" %}

{% block title %}
    <title>Edit Recipe</title>
{% endblock %}

{% block content%}
<section class="container">
    

    <form class="form-recipe" action="/admin/recipes?_method=PUT" method="POST">

        <h1> Editar Receita </h1>

        {% include 'admin/fields.njk'%}

        <input type="hidden" name="id" value="{{recipe.id}}">

    </form>

    <form action="/admin/recipes?_method=DELETE" method="POST">

        <button class="btn-delete" type="submit">Excluir</button>
    
    </form>

</section>

{% endblock %}