<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href=" https://fonts.googleapis.com/css?family=Roboto&display=swap " rel="stylesheet ">

    <link rel="stylesheet" href="/css/style.css">

    {% block title %}
        <title>Layout Page</title>
    {% endblock %}
    
</head>
<body>

    <header class="header-admin">
        <div class="container">
            <a class="logo" href="">
                <img src="/img/logo-admin.png" alt="">
            </a>
        </div>
    
    </header>

    {% block content %}


    {% endblock %}


     <script src="/js/main.js "></script>

</body>
</html>