{% extends "layout.njk" %} {%block content%}


    <div class="intro">        
        <div>
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do <br> mundo inteiro.
            </p>
        </div>
        <div class="intro-img">
            <img class="img-fluid " src="img/chef.png " alt="Chef de cozinha segurando o prato na mao">
        </div>

    </div>


<section class="recipes">
        <h2>Mais acessadas</h2>
        <div class="recipes-items">

            {% for recipe in recipes %}
                <div class="recipe-item " id="{{loop.index}}">

                    <div class="recipe-img">
                        <img src="{{recipe.image}}" alt=" ">
                    </div>
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                </div>
            {% endfor %}

        </div>
</section>


{% endblock %}