<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1”>

    <link href=" https://fonts.googleapis.com/css?family=Roboto&display=swap " rel="stylesheet ">

    <!-- <link rel="stylesheet " href="css/bootstrap-grid.min.css "> -->
    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css " integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh " crossorigin="anonymous ">
    <link rel="stylesheet " href="css/style.css ">

    {% block title %}
        <title>FoodFY - Paginal Inicial</title>
    {% endblock %}

</head>

<body>
    <header class="container-fluid ">
        <div class="container ">
            <div class="row align-items-center my-3 ">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 ">
                    <a href="/ " class="menu-logo ">
                        <img src="img/logo.png " alt=" ">
                    </a>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 ">
                    <nav class="menu-nav ">
                        <ul>
                            <li><a href="/about ">Sobre</a></li>
                            <li><a href="/recipes ">Receitas</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <div class="content">

    {% block content %}

    {% endblock %}

    </div>

    

    <script src="js/main.js "></script>
    <footer class="footer-main py-4 mt-5">
        <div class="row ">
            <div class="col-12 ">
                <p>
                    Todos os direitos reservados, receitas Foodfy.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>