/*** RESET ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*** VARIABLE ****/

:root {
    --color-black: #111111;
    --color-pink: #FBDFDB;
    --color-gray: #777777;
    --color-footer: #EEEEEE;
    --color-footer-text: #999999;
    --color-about-text: #444444;
    --color-hover-menu: #D54F44;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: var(--color-black);
}

.structure {
    display: grid;
    grid-template-columns: 100%;
}


/*HEADER*/

.header {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}


/*** MENU ****/

.menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    color: var(--color-black);
}

.menu a:hover {
    color: var(--color-hover-menu);
}


/*****INTRO****/

.intro {
    display: grid;
    width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    background: var(--color-pink);
    border-radius: 30px;
    padding: 50px 50px 0 50px;
}

.intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro p {
    max-width: 380px;
    font-size: 1.125em;
}

.intro-img {
    justify-self: center;
}


/******More Visited*****/

.recipes {
    width: 960px;
    padding: 30px 0;
    margin: 0 auto;
}

.recipes h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.more-visited {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe-item {
    display: grid;
    grid-template-rows: 140px 1fr 1fr;
}

.recipe-item img {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
}

.recipe-item h3 {
    font-size: 1.125em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 5px;
}

.recipe-item p {
    font-size: 1.0em;
    color: var(--color-gray);
}


/*****FOOTER*****/

.footer {
    padding: 30px;
    background: var(--color-footer-text);
}

.footer p {
    font-size: 0.875em;
    text-align: center;
    color: var(--color-footer);
    padding: 0;
    margin: 0;
}


/******ABOUT*****/

.about h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.about h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.about p {
    color: var(--color-about-text);
    line-height: 1.75em;
}


/****RECIPES****/

.recipes h1 {
    font-size: 1.5em;
}


/****RECIPE****/

.intro-recipe img {
    border-radius: 16px;
}

.intro-recipe h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.intro-recipe p {
    font-size: 20px;
    color: var(--color-gray);
    text-align: center;
}

.subtitle-recipe {
    font-size: 24px;
    font-weight: bold;
}

.accordion-recipe {
    border: none;
    font-size: 12px;
    color: var(--color-footer-text);
    font-weight: bold;
    cursor: pointer;
}

.content-recipe ul {
    padding-left: 20px;
}

.content-recipe {
    font-size: 18px;
    color: var(--color-about-text);
    line-height: 28px;
}

.inactive-content {
    display: none;
    overflow: hidden;
}