/*** RESET ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*** VARIABLE ****/

:root {
    --color-black: #111111;
    --color-pink: #FBDFDB;
    --color-gray: #777777;
    --color-footer: #EEEEEE;
    --color-footer-text: #999999;
    --color-about-text: #444444;
    --color-hover-menu: #D54F44;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: var(--color-black);
}


/*HEADER*/

.header {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}


/*** MENU ****/

.menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    color: var(--color-black);
}

.menu ul li+li {
    margin-left: 10px;
}

.menu a:hover {
    color: var(--color-hover-menu);
}


/*****INTRO****/

.intro {
    display: grid;
    width: 940px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    background: var(--color-pink);
    border-radius: 30px;
    padding: 50px 50px 0 50px;
    margin-bottom: 30px;
    align-items: start;
}

.intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1em;
}

.intro-titulo {
    padding-top: 50px;
}

.intro p {
    max-width: 380px;
    font-size: 1.125em;
}

.intro-img {
    justify-self: center;
}


/******More Visited*****/

.recipes {
    width: 940px;
    margin: 0 auto;
}

.recipes h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.recipes-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe-item {
    display: grid;
    grid-template-rows: 140px 1fr 1fr;
}

.recipe-item img {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
}

.recipe-item h3 {
    font-size: 1.125em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 5px;
}

.recipe-item p {
    font-size: 1.0em;
    color: var(--color-gray);
}


/*****FOOTER*****/

.footer {
    margin-top: 30px;
    padding: 30px;
    background: var(--color-footer-text);
}

.footer p {
    font-size: 0.875em;
    text-align: center;
    color: var(--color-footer);
    padding: 0;
    margin: 0;
}


/******ABOUT*****/

.about {
    width: 940px;
    margin: 0 auto;
}

.description p {
    margin-bottom: 20px;
}

.description {
    margin-bottom: 30px;
}

.about h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

br {
    margin-bottom: 20px;
}

.about h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 20px;
}

.about p {
    color: var(--color-about-text);
    line-height: 1.75em;
}


/****RECIPES****/

.recipes h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}


/****RECIPE****/

.recipe {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.recipe div {
    margin-bottom: 30px;
}

.recipe div h2 {
    margin-bottom: 10px;
}

.intro-recipe img {
    border-radius: 16px;
    margin: 0 auto 20px auto;
}

.intro-recipe h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.intro-recipe p {
    font-size: 20px;
    color: var(--color-gray);
    text-align: center;
}

.subtitle-recipe {
    font-size: 24px;
    font-weight: bold;
}

.accordion-recipe {
    background: none;
    border: none;
    font-size: 12px;
    color: var(--color-footer-text);
    font-weight: bold;
    cursor: pointer;
}

.content-recipe {
    font-size: 18px;
    color: var(--color-about-text);
    line-height: 28px;
}

.inactive {
    display: none;
    overflow: hidden;
}


/*ADMIN*/

.container {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0;
}

.header-admin {
    background: black;
}

.form-recipe {
    position: relative;
}

.form-recipe>div {
    margin-top: 30px;
}

.form-recipe label {
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
}

.form-recipe input {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1.125em;
    padding: 8px 16px;
    margin-top: 8px;
}

.form-recipe textarea {
    width: 100%;
    height: 260px;
    margin-top: 8px;
    display: block;
    font-family: 'Roboto-Regular', sans-serif;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.add-ingredient,
.add-preparation {
    border: none;
    background: none;
    margin-top: 8px;
    font-size: 1em;
    color: #6558C3;
    text-align: right;
    font-weight: bold;
}

.btn-save,
.btn-delete,
.btn-edit {
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

.btn-save,
.btn-delete {
    position: absolute;
}

.btn-save {
    background: #6558C3;
    top: 0;
    right: 0;
}

.btn-save::after,
.btn-save::before {
    display: block;
    clear: both;
}

.btn-delete {
    background: #DC4747;
    top: 0;
    right: 150px;
}

.btn-edit {
    background: #6558C3;
}


/*SHOW ADMIN*/

.header-recipe {
    display: grid;
    grid-template-columns: 1fr auto;
}

.header-recipe h1 {
    font-size: 1.5em;
    font-weight: bold;
}


/*INDEX*/

.recipes-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin-titulo {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.item {
    display: grid;
    grid-template-columns: 172px auto;
}

.item-img {
    grid-row: span 5;
}

.item h2 {
    font-size: 1.125em;
    font-weight: normal;
    color: var(--color-black);
}

.item h2,
.item p {
    padding: 0 16px 4px 8px;
}

.item p {
    font-size: 0.875em;
    color: var(--color-footer-text);
}

.item-img img {
    border-radius: 4px;
    margin: 0 auto;
}

.item a {
    padding-left: 8px;
    font-size: 0.875em;
    color: #6558C3;
    font-weight: bold;
}