{% extends "site/layout.njk" %} 

{% block title %}
        <title>FoodFy - Receitas</title>
{% endblock %}

{% block content %}

<section class="recipes">

        <h1>Receitas</h1>

        <div class="recipes-items ">
            {% for recipe in recipes %}
                <div class="recipe-item" id="{{loop.index}}">
                    <div class="recipe-img">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                </div> 
            {% endfor %}           
        </div>

        <div class="recipes-items ">
            {% for recipe in recipes %}
                <div class="recipe-item" id="{{loop.index}}">
                    <div class="recipe-img">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                </div> 
            {% endfor %}           
        </div>
</section>


{% endblock %}